@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

$background-color: #ffffff;
$subtitle-color: #40b4e6;
$hr-color: #d72c88;
$hero-color: #ffffff;
$home-color: #bbd9ea;
$font-stack: Roboto, sans-serif;


body {
  background-color: $background-color;
  min-height: 100vh;

  img {
    border-radius: 3px;
  }

  .featured {
    padding-top: 2px;
  }



  #coldplay {
    background: rgba(215,44,136,0) url('/src/assets/coldplay.jpeg');
    height: 300px;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    vertical-align: middle;
    &:hover {
      background:
      linear-gradient(
      rgba(215,44,136,.4),
      rgba(215,44,136,.4)
      ),
      url('/src/assets/coldplay.jpeg');
      letter-spacing: 5px;
    }
    div{
      margin-top: 120px;
      color: #d72c88;
    }
  }

  #shakira {
    background: rgba(254,221,0, 0) url('/src/assets/shakira.jpg');
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    vertical-align: middle;
    &:hover {
      background:
      linear-gradient(
      rgba(254,221,0, 0.4),
      rgba(254,221,0, 0.4)
      ),
      url('/src/assets/shakira.jpg');
      background-size: cover;
      background-position: center;
      letter-spacing: 5px;
    }
    div{
      margin-top: 120px;
      color: #fedd00;
    }
  }

  #kanyewest {
    background: rgba(64,180,230,0)  url('/src/assets/kanyewest.jpeg');
    height: 300px;
    background-size: 512px;
    background-position: center;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    vertical-align: middle;
    &:hover {
      background:
      linear-gradient(
      rgba(64,180,230,0.4),
      rgba(64,180,230,0.4)
      ),
      url('/src/assets/kanyewest.jpeg');
      background-size: 512px;
      background-position: center;
      letter-spacing: 5px;
      }
    div{
      margin-top: 120px;
      color: #40b4e6;
    }
  }

  #tameimpala {
    background: rgba(195,210,0,0) url('/src/assets/tame-impala.jpg');
    height: 300px;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    vertical-align: middle;
    &:hover {
      background:
      linear-gradient(
      rgba(195,210,0,0.4),
      rgba(195,210,0,0.4)
      ),
      url('/src/assets/tame-impala.jpg');
      letter-spacing: 5px;
    }
    div{
      margin-top: 120px;
      color: #c3d200;
    }
  }

  .headingtitle {
    letter-spacing: 3px;
    color: $subtitle-color;
  }

  .subtitle {
    letter-spacing: 5px;
  }

  li {
    margin: 0 0 10px 20px;
    font-size: 20px;
  }

  #logo {
      background-image: url('/src/assets/Deezerlogo.png');
      background-size: contain;
      width: 220px;
      height: 30px;
      background-repeat: no-repeat;
      background-position: center;
      margin-top: 10px;
  }

  hr {
    border: 1px solid $hr-color;
  }

  .input {
    width: 500px;
  }

}
