@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

$background-color: #ffffff;
$subtitle-color: #40b4e6;
$hr-color: #d72c88;
$hero-color: #ffffff;
$home-color: #bbd9ea;
$art-one-color-hex: #d72c88;
$art-two-color-hex: #40b4e6;
$art-three-color-hex: #fedd00;
$art-four-color-hex: #c3d200;
$art-one-color-rgba: rgba(215,44,136,0);
$art-one-color-rgba-hover: rgba(215,44,136,.4);
$art-two-color-rgba: rgba(64,180,230,0);
$art-two-color-rgba-hover: rgba(64,180,230,0.4);
$art-three-color-rgba: rgba(254,221,0, 0);
$art-three-color-rgba-hover: rgba(254,221,0, 0.4);
$art-four-color-rgba: rgba(195,210,0,0);
$art-four-color-rgba-hover: rgba(195,210,0,0.4);

$font-stack: Roboto, sans-serif;


body {
  background-color: $background-color;
  min-height: 100vh;

  img {
    border-radius: 3px;
  }

  .featured {
    padding-top: 2px;
  }

  .home {
    padding: 25px;
  }

  #art-one {
    background: $art-one-color-rgba url('assets/coldplay.jpeg');
    height: 250px;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    vertical-align: middle;
    &:hover {
      background:
      linear-gradient(
      $art-one-color-rgba-hover,
      $art-one-color-rgba-hover
      ),
      url('assets/coldplay.jpeg');
      letter-spacing: 5px;
    }
    div{
      margin-top: 120px;
      color: $art-one-color-hex;
    }
  }

  #art-two {
    background: $art-two-color-rgba url('assets/kanyewest.jpeg');
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    vertical-align: middle;
    &:hover {
      background:
      linear-gradient(
      $art-two-color-rgba-hover,
      $art-two-color-rgba-hover
      ),
      url('assets/kanyewest.jpeg');
      background-position: center;
      background-repeat: no-repeat;
      letter-spacing: 5px;
      }
    div{
      margin-top: 120px;
      color: $art-two-color-hex;
    }
  }

  #art-three {
    background: $art-three-color-rgba url('assets/shakira.jpg');
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    vertical-align: middle;
    &:hover {
      background:
      linear-gradient(
      $art-three-color-rgba-hover,
      $art-three-color-rgba-hover
      ),
      url('assets/shakira.jpg');
      background-size: cover;
      background-position: center;
      letter-spacing: 5px;
    }
    div{
      margin-top: 120px;
      color: $art-three-color-hex;
    }
  }

  #art-four {
    background: $art-four-color-rgba url('assets/tame-impala.jpg');
    height: 250px;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    background-position: center;
    vertical-align: middle;
    &:hover {
      background:
      linear-gradient(
      $art-four-color-rgba-hover,
      $art-four-color-rgba-hover
      ),
      url('assets/tame-impala.jpg');
      letter-spacing: 5px;
      background-position: center;
    }
    div{
      margin-top: 120px;
      color: $art-four-color-hex;
    }
  }

  i {
    font-size: 20px;
  }

  .headingtitle {
    letter-spacing: 3px;
    color: $subtitle-color;
  }

  .subtitle {
    letter-spacing: 5px;
  }

  li {
    margin: 0 0 10px 20px;
    font-size: 20px;
  }

  #logo {
      background-image: url('assets/Deezerlogo.png');
      background-size: contain;
      width: 220px;
      height: 30px;
      background-repeat: no-repeat;
      background-position: center;
      margin-top: 10px;
  }

  hr {
    border: 1px solid $hr-color;
  }

  .input {
    width: 500px;
  }
}
